@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    margin:0;
    padding:0;
    list-style: none;
}
select, input {
    border:0;
    outline-style: none;
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}
textarea {
    resize: none;
}
a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}
/*设置版心的宽度*/
.c{
    width: 990px;
    margin:0 auto;
}
.c .logo{
    width: 300px;
    height: 60px;
    margin-top:10px;
    position: relative;
}
.logo b{
    width: 110px;
    height: 40px;
    position: absolute;
    top:10px;
    right:0;
    background: url("../images/login-page/welcome.png") no-repeat;
}
.login-wrap {
    margin: 10px 0 20px 0;
    height: 475px;
    position: relative;
}
.login-banner{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 475px;
    background-color: #d53944;
}
.i-inner{
    height: 475px;
    background: url("../images/login-page/banner.jpg") no-repeat;
}
.login-form{
    float: right;
    top:40px;
    height: 369px;
    z-index:4;
    position: relative;
    width: 346px;
    background-color: #fff;
}

.login-tab{
    position: absolute;
    height: 54px;
    width: 173px;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    text-align: center;
    border-bottom: 1px solid #f4f4f4;
    background-color: #fff;
}
.login-tab-r{
    right:0;
}
.login-form .login-tab a {
    width: 99%;
    height: 18px;
    position: absolute;
    left: 0;
    top: 18px;
    color:#666;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}
.login-form .login-tab a.checked,
.login-form .login-tab a:hover {
    font-weight: 700;
    color: #e4393c
}
.login-box{
    width: 306px;
    padding:62px 20px 20px;
}
.msg-wrap{
    margin:2px 0 5px;
}
.msg-warn{
    position: relative;
    background-color: #fff6d2;
    border:1px solid #ffe57d;
    padding: 3px 10px  3px 30px;
    line-height: 18px;
    height: 18px;
    font-size: 12px;
}
.msg-warn b{
    position: absolute;
    top:14%;
    left:10px;
    display: block;
    width: 16px;
    height: 17px;
    overflow: hidden;
    background: url("../images/login-page/sprite.png") no-repeat -104px -22px;
}
.form .item{
    margin:10px 0 20px;
    position: relative;
}
.form .item-fore1,
.form .item-fore2{
    border:1px solid #bdbdbd;

}
.login-label{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    border-right: 1px solid #bdbdbd;
    background: url("../images/login-page/sprite.png") no-repeat;
}
.pwd-label{
    background-position: -48px 0;
}
.form .item-fore3{
    height: 18px;
    line-height: 18px;
    font-size: 12px;
}

#loginname,
#loginpwd
{
    font-size: 14px;
    height: 38px;
    padding-left: 45px;
}
#forgetpwd{
    margin-left:188px;
}
.form .item-fore4{
    padding:0 20px;
}
.login-btn{
    height: 33px;
    border:1px solid #cb2a2d;
    margin:0 auto;
    background-color: #e4393c;
}
.login-btn a{
    display: block;
    width: 100%;
    height: 100%;
    color:#fff;
    font-family: "微软雅黑";
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    line-height: 33px;
}
.login-btn:hover{
    background-color: #e43937;
}
.coagent{
    height: 50px;
    padding:0 20px;
}
.coagent li{
    float: left;
    height: 50px;
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    line-height: 50px;
}
.coagent li a{
    color:#666;
    text-decoration: none;
}
.coagent li a:hover{
    text-decoration: underline;
}
.coagent .line{
    padding: 0 10px;
    color:#666;
}

.coagent .extra-r{
    float: right;
}
.link b{
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    margin-right:5px;
    background: url("../images/login-page/sprite.png") no-repeat -104px -75px;
}
.coagent .extra-r a{
    color:#b61d1d;
    font-size: 14px;
}
.footer{
    text-align: center;
    font: 12px Arial,Verdana,"\5b8b\4f53";
    color:#666;
    margin-bottom: 30px;
}
.links{
    height: 40px;
    line-height: 40px;
}
.links a{
    padding:0 10px;
}







